<a href="https://colab.research.google.com/github/bjh5098/Social-Network-Analysis-and-Text-Mining/blob/master/2_1_Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

#Pandas - 자료구조 소개

##Series Basic

In [0]:
obj = pd.Series([4, 7, -5, 3], index=['a','b', 'c', 'd'], name='seriesaaaasasasfdffgggrd

In [0]:
obj

In [0]:
obj.values

In [0]:
obj[0]

In [0]:
obj[[0, 3]]

In [0]:
obj['a']

In [0]:
obj[['a','c']]

In [0]:
obj.index

In [0]:
obj.name

In [0]:
obj[['c', 'a', 'd']]

###사전형 데이터로부터 Series 데이터 생성

In [0]:
sdata = {'Ohio':35000, 'Texa':71000, 'Oregon':16000, 'Utah': 5000}

In [0]:
obj2 = pd.Series(sdata)
obj2

In [0]:
obj2.index

In [0]:
states = ['California', 'Ohio', 'Oregon', 'Texa']
obj3 = pd.Series(sdata, index=states)

In [0]:
obj3

In [0]:
pd.isnull(obj3)

In [0]:
pd.notnull(obj3)

##DatetimeIndex

In [0]:
date = pd.date_range('2019-09-01', '2019-09-06', freq='d')
date

In [0]:
temp1 = pd.Series([80, 82, 85, 90, 83, 87], index=date)
temp1

In [0]:
temp1['2019-09-01']

In [0]:
temp2 = pd.Series([70, 75, 69, 83, 79, 77], index=date)

In [0]:
temp1-temp2

##DataFrame Basic

In [0]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada'], 
        'year':[2000,2001,2002,2001,2001], 
        'pop':[1.5,1.7,3.6, 2.4, 2.9]}
data

In [0]:
import pandas as pd

In [0]:
frame = pd.DataFrame(data)
frame

In [0]:
frame2 = pd.DataFrame(data, columns=['year','state','pop','debt'],index=['one','two','three','four','five'])

In [0]:
frame2

In [0]:
help(pd.DataFrame)

In [0]:
frame2['year']

In [0]:
frame2.loc['three'].values

In [0]:
frame2

In [0]:
frame2['debt']

In [0]:
frame2['debt'] = 16.5

In [0]:
frame2.loc['one',['year','pop']]

In [0]:
frame2.columns

In [0]:
frame2.index

In [0]:
import numpy as np
frame2.debt = np.arange(4)
frame2.debt

In [0]:
frame2['eastern'] = frame['state'] == 'Ohio'
frame2

In [0]:
del frame2['eastern']
frame2

In [0]:
frame2.columns

In [0]:
frame2.values

In [0]:
frame2[['state','pop']]

In [0]:
frame2.loc[['one','two']]

In [0]:
frame2.iloc[[0,1]]

In [0]:
frame2.info()

In [0]:
frame2.describe()

In [0]:
housing =pd.read_csv('/content/sample_data/california_housing_test.csv')

In [0]:
housing.to_csv('/content/sample_data/sampledata.csv', index=False)

# Pandas 주요 기능

##Series 색인, 선택, 자르기

In [0]:
import numpy as np

In [0]:
obj = pd.Series(np.arange(5), index=['a','b','c','d','e'])
obj

In [0]:
obj.drop('d')

In [0]:
obj['d'] = 3

In [0]:
obj['b']

In [0]:
obj[2:5]

In [0]:
obj[[1,3]]

In [0]:
obj[obj <2]

In [0]:
obj['b':'c']

##Dataframe 색인, 선택, 자르기

In [0]:
import numpy as np

In [0]:
data = pd.DataFrame(np.arange(16).reshape((4,-1)),
                    index=['Ohio', 'Colorado','Utah','NewYork'],
                    columns=['one','two','three','four'])

In [0]:
data

In [0]:
data['two']

In [0]:
data[['three', 'one']]

In [0]:
data[:2]

In [0]:
data[data['three']>5]

In [0]:
data.loc[['Colorado','Utah'],['two','three']]

In [0]:
data.loc[['Colorado','Utah']]

In [0]:
data

In [0]:
data.sort_index()

In [0]:
data.sort_index(axis=1)

In [0]:
data.sort_values(by='one')

In [0]:
data.sort_values(by='one', ascending=True)

In [0]:
help(data.sort_values)

In [0]:
|

In [0]:
data.sort_values(by=['one','two'], ascending=False)

## 기술통계 계산 및 요약

In [0]:
data.sum(axis=1)

In [0]:
data.sum(axis=0)

In [0]:
data.sum(axis=1)

In [0]:
data.describe()

In [0]:
data.idxmax()

In [0]:
data.idxmin()

#계층적 색인

In [0]:
data = pd.Series(np.random.randn(10), 
                 index=[['a','a','a','b','b','b','c','c','d','d'],
                        [1,2,3,1,2,3,1,2,2,3]])

In [0]:
data

In [0]:
data.index

In [0]:
data['b']

In [0]:
data.loc[['b','d']]

In [0]:
data['a',1]

In [0]:
data[:,1]

In [0]:
data.unstack()

In [0]:
data.unstack().stack()

#데이터 변형을 위한 함수 적용

##apply

In [0]:
series_data = pd.Series(np.arange(0, 5))
series_data

In [0]:
seires_data.apply(lambda x: x*2)

In [0]:
df = pd.DataFrame(np.arange(12).reshape(4, 3), columns=['a','b','c'])
df

In [0]:
df.apply(lambda col: col.sum())

In [0]:
df.apply(lambda row: row.sum(), axis=1)

In [0]:
df['interim'] = df.apply(lambda x: x['a'] * x['b'], axis=1)
df

In [0]:
df.applymap(lambda x: '%.2f' %x)

#병합과 조인

##일대일 조인

In [0]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

In [0]:
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'], 'hire_date': [2004, 2008, 2012, 2014]})

In [0]:
df1

In [0]:
df2

In [0]:
df3 = pd.merge(df1, df2)

In [0]:
df3

##다대일 조인

In [0]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'], 'supervisor': ['Carly', 'Guido', 'Steve']})

In [0]:
df4

In [0]:
pd.merge(df3, df4)

## 다대다조인

In [0]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting', 'Engineering', 'Engineering', 'HR', 'HR'], 
                    'skills': ['math', 'spreadsheets', 'coding', 'linux', 'spreadsheets', 'organization']})

In [0]:
pd.merge(df1, df5)

## 키를 활용한 조인

In [0]:
pd.merge(df1, df2, on='employee')

In [0]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 'salary': [70000, 80000, 120000, 90000]})

In [0]:
pd.merge(df1, df3, left_on ='employee', right_on='name')

In [0]:
pd.merge(df1, df3, left_on ='employee', right_on='name').drop('name', axis=1)

In [0]:
df1a = df1.set_index('employee')

In [0]:
df2a = df2.set_index('employee')

In [0]:
df1a

In [0]:
df2a

In [0]:
pd.merge(df1a, df2a, left_index=True, right_index=True)

##조인- Inner, outer

In [0]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'], 'food': ['fish', 'beans', 'bread']},columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'], 'drink': ['wine', 'beer']}, columns=['name', 'drink'])

In [0]:
pd.merge(df6, df7,how='inner')

In [0]:
pd.merge(df6, df7,how='outer')

In [0]:
pd.merge(df6, df7,how='left')

In [0]:
pd.merge(df6, df7,how='right')

##조인 - 기타

In [0]:
eng = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 'rank': [1, 2, 3, 4]})
math = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 'rank': [3, 1, 4, 2]})

In [0]:
pd.merge(eng, math, on='name')

In [0]:
pd.merge(eng, math, on='name', suffixes=['_eng', '_math'])

#데이터 분석 예

In [0]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [0]:
type(titanic)

In [0]:
titanic.head()

In [0]:
titanic.groupby('sex').ngroups

In [0]:
titanic.groupby('sex').size()

In [0]:
titanic.groupby('sex').count()

In [0]:
titanic.groupby('sex').describe()

In [0]:
titanic.groupby('sex').mean()

In [0]:
import numpy as np
titanic.groupby('sex').agg(np.mean)

In [0]:
titanic.groupby('sex').agg([np.mean, np.std])

#피봇 테이블

In [0]:
titanic.columns

In [0]:
titanic.pivot_table('survived', index='sex', columns='class')

In [0]:
titanic['survived'][titanic['class'] == 'First'].count()

In [0]:
titanic['survived'][(titanic['class'] == 'First') & (titanic['sex'] == 'female')].count()

In [0]:
titanic['survived'][(titanic['class'] == 'First') & (titanic['sex'] == 'female') & (titanic['survived'] == 1)].count()

In [0]:
import pandas as pd
age=pd.cut(titanic['age'],[0,18,80])
age

In [0]:
titanic.pivot_table('survived',index=['sex', age], columns='class')

In [0]:
fare = pd.qcut(titanic['fare'], 2)
fare

In [0]:
pd.value_counts(age)

In [0]:
pd.value_counts(fare)

In [0]:
titanic.pivot_table('survived', index=['sex', age], columns=[fare,'class'])

In [0]:
titanic.pivot_table(index='sex', columns='class', aggfunc={'survived':np.mean, 'fare':np.sum})

In [0]:
titanic.pivot_table(index='sex', columns='class', aggfunc={'survived':np.mean, 'fare':np.mean})

In [0]:
type(titanic)